.tox
artifacts
env
__pycache__
*.pyc
*.egg-info
*.tar.gz
build
dist
rh-telco-pipeline.sh
rh-telco-pipeline_dci_credentials.yml
storage-plugin-telco-ci.sh
storage-plugin-telco-ci_dci_credentials.yml
network-plugin-telco-ci.sh
network-plugin-telco-ci_dci_credentials.yml
cnf-telco-ci.sh
cnf-telco-ci_dci_credentials.yml
pipeline_user_dci_credentials.sh
pipeline_user_dci_credentials.yml
dcipipeline/ansible.cfg
