*.egg-info
*.pyc
*.tar.gz
.tox
__pycache__
artifacts
build
cnf-telco-ci.sh
cnf-telco-ci_dci_credentials.yml
dcipipeline/agents/rh-cnf/inventory2.yml
dcipipeline/ansible.cfg
dist
env
network-plugin-telco-ci.sh
network-plugin-telco-ci_dci_credentials.yml
pipeline_user_dci_credentials.sh
pipeline_user_dci_credentials.yml
rebuilt-pipeline.yml
rh-telco-pipeline.sh
rh-telco-pipeline_dci_credentials.yml
storage-plugin-telco-ci.sh
storage-plugin-telco-ci_dci_credentials.yml
dcipipeline/pipeline-edge2.yml
current
