include dcipipeline/pipeline.yml
include dcipipeline/agents/*/agent.yml
include README.md
include sysconfig/*
include systemd/*
include LICENSE
include dci-pipeline.sudo
include dciqueue/dci-queue.bash_completion
include tools/extract-dependencies
include tools/loop_until_failure
include tools/loop_until_success
include tools/send-feedback
include tools/test-runner
include tools/dci-pipeline-schedule
include tools/dci-pipeline-check
include tools/yaml2json
