include LICENSE
include README.md
include container/build.sh
include container/dci-create-component-podman
include container/dci-diff-pipeline-podman
include container/dci-find-latest-component-podman
include container/dci-openshift-agent-ctl-podman
include container/dci-openshift-app-agent-ctl-podman
include container/dci-pipeline-podman
include container/dci-queue-podman
include container/dci-rebuild-pipeline-podman
include container/dci-rhel-latest-kernel-version-podman
include container/dci-vault-client-podman
include container/dci-vault-podman
include container/dcictl-podman
include container/install-from-source.sh
include dci-pipeline.sudo
include dcipipeline/agents/*/agent.yml
include dcipipeline/pipeline.yml
include dciqueue/dci-queue.bash_completion
include requirements.txt
include sysconfig/*
include systemd/*
include tools/common
include tools/dci-pipeline-check
include tools/dci-pipeline-schedule
include tools/extract-dependencies
include tools/loop_until_failure
include tools/loop_until_success
include tools/send-feedback
include tools/test-runner
include tools/yaml2json
